<template>
  <div class="container mx-auto max-w-6xl- px-6">
    <div class="mb-12 md:mb-24">
      <RouterLink to="/" class="py-3 px-8 shadow-md rounded-md bg-white dark:bg-theme-dark-blue">
        <FaIcon icon="fa-solid fa-arrow-left-long" class="align-middle mr-1"></FaIcon>
        Back</RouterLink
      >
    </div>

    <div class="grid grid-cols-1 md:grid-cols-2 gap-8 md:gap-20 lg:gap-40">
      <div class="self-stretch">
        <img :src="country.flags.svg" :alt="`flag of ${country.name.official}`" />
      </div>
      <div class="pt-6 md:pt-6 lg:pt-12">
        <h1 class="font-extrabold text-4xl mb-10">{{ country.name.official }}</h1>
        <div class="grid grid-cols-1 gap-y-12 lg:gap-y-0 lg:gap-6 lg:grid-cols-2 mb-16">
          <dl class="space-y-4">
            <div class="flex space-x-1">
              <dt class="font-extrabold">Native Name:</dt>
              <dd class="font-light">
                {{
                  Object.keys(country.name.nativeName)
                    .map((nativeName) => country.name.nativeName[nativeName].official)
                    .join(', ')
                }}
              </dd>
            </div>
            <div class="flex space-x-1">
              <dt class="font-extrabold">Population:</dt>
              <dd class="font-light">{{ country.population }}</dd>
            </div>
            <div class="flex space-x-1">
              <dt class="font-extrabold">Region:</dt>
              <dd class="font-light">{{ country.region }}</dd>
            </div>
            <div class="flex space-x-1">
              <dt class="font-extrabold">Sub Region:</dt>
              <dd class="font-light">{{ country.subregion }}</dd>
            </div>
            <div class="flex space-x-1">
              <dt class="font-extrabold">Capital:</dt>
              <dd class="font-light">{{ country.capital.join(', ') }}</dd>
            </div>
          </dl>
          <dl class="space-y-4">
            <div class="flex space-x-1">
              <dt class="font-extrabold">Top Level Domain:</dt>
              <dd class="font-light">{{ country.tld.join(', ') }}</dd>
            </div>
            <div class="flex space-x-1">
              <dt class="font-extrabold">Currencies:</dt>
              <dd class="font-light">
                {{
                  Object.keys(country.currencies)
                    .map((currency) => country.currencies[currency].name)
                    .join(', ')
                }}
              </dd>
            </div>
            <div class="flex space-x-1">
              <dt class="font-extrabold">Languages:</dt>
              <dd class="font-light">
                {{
                  Object.keys(country.languages)
                    .map((language) => country.languages[language])
                    .join(', ')
                }}
              </dd>
            </div>
          </dl>
        </div>
        <div>
          <div>
            <div class="flex flex-wrap space-x-2- space-y-2 items-baseline">
              <span class="font-bold pr-2 w-full md:w-auto inline-block">Border Countries:</span>
              <RouterLink
                v-for="borderCountry in country.borders"
                :key="borderCountry"
                :to="{ name: 'details', params: { cca3: borderCountry } }"
                class="py-2 px-4 mr-2 shadow-md bg-white dark:bg-theme-dark-blue whitespace-nowrap"
                >{{ countriesStore.getNameByCode(borderCountry) }}</RouterLink
              >
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script setup>
import { onBeforeMount, ref } from 'vue'
import { useCountriesStore } from '../stores/countries'
import { useRoute } from 'vue-router'

const country = ref({})
const route = useRoute()
const countriesStore = useCountriesStore()
onBeforeMount(() => {
  country.value = countriesStore.getCountry(route.params.cca3)
})
</script>
