<template>
  <div class="container max-w-6xl- mx-auto px-4">
    <div class="flex flex-col md:flex-row space-y-6 md:space-y-0 justify-between mb-8">
      <SearchInput v-model="countriesStore.filterText" />
      <RegionSelect
        :regions="countriesStore.getRegionsList"
        :active="countriesStore.filterRegion"
        @select="filterByRegion"
      />
    </div>
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-16 px-6 md:px-0">
      <CountryCard
        v-for="country in countriesStore.filteredCountries"
        :key="country.cca3"
        :country="country"
      />
    </div>
  </div>
</template>

<script setup>
import { useCountriesStore } from '../stores/countries'
import RegionSelect from '../components/RegionSelect.vue'
import SearchInput from '../components/SearchInput.vue'
import CountryCard from '../components/CountryCard.vue'
const countriesStore = useCountriesStore()
const filterByRegion = (region) => {
  if (countriesStore.filterRegion === region) {
    countriesStore.filterRegion = ''
  } else {
    countriesStore.filterRegion = region
  }
  countriesStore.filterText = ''
}
</script>
