<template>
  <RouterLink
    :to="{ name: 'details', params: { cca3: country.cca3 } }"
    class="flex flex-col space-y-2 bg-white dark:bg-theme-dark-blue rounded-md overflow-hidden pb-12 shadow-md dark:shadow-theme-very-dark-blue-text hover:shadow-lg"
  >
    <div class="grow">
      <img :src="country.flags.svg" :alt="`flag of ${country.name.official}`" class="" />
    </div>
    <div class="px-6 space-y-3">
      <h2 class="font-extrabold text-2xl my-6">{{ country.name.official }}</h2>
      <dl class="text-sm space-y-4">
        <div class="flex space-x-1">
          <dt class="font-extrabold">Population:</dt>
          <dd class="font-light">{{ country.population }}</dd>
        </div>
        <div class="flex space-x-1 flex-nowrap">
          <dt class="font-extrabold pr-2">Region:</dt>
          <dd class="font-light">{{ country.region }}</dd>
        </div>
        <div class="flex space-x-1 flex-nowrap">
          <dt class="font-extrabold pr-2">Capital:</dt>
          <dd v-if="country.capital" class="font-light">{{ country.capital.join(', ') }}</dd>
        </div>
      </dl>
    </div>
  </RouterLink>
</template>

<script setup>
defineProps({ country: { type: Object, required: true } })
</script>
