<template>
  <div
    class="relative py-3 px-3 flex justify-between items-center w-48 shadow-dm rounded-md bg-white dark:bg-theme-dark-blue hover:shadow-md hover:cursor-pointer dark:shadow-theme-very-dark-blue-text"
    @click="show = !show"
  >
    Filter by Region<FaIcon icon="fa-solid fa-chevron-down"></FaIcon>
    <div
      v-show="show"
      class="absolute rounded-md shadow-md p-3 top-full bg-white min-w-full mt-1 -mx-3 dark:bg-theme-dark-blue"
    >
      <div
        v-for="region in regions"
        :key="region"
        class="py-2"
        :class="{ 'font-bold': active === region }"
        @click="$emit('select', region)"
      >
        {{ region }}
      </div>
    </div>
  </div>
</template>

<script setup>
import { ref } from 'vue'
defineProps({
  regions: { type: Array, required: true },
  active: { type: String, default: '', required: false }
})
defineEmits(['select'])
const show = ref(false)
</script>
