<template>
  <div
    class="relative shadow-sm w-full py-3 md:w-96 bg-white dark:bg-theme-dark-blue rounded-md overflow-hidden dark:shadow-theme-very-dark-blue-text"
  >
    <FaIcon
      icon="fa-solid fa-magnifying-glass"
      class="absolute pointer-events-none left-0 top-1/2 -translate-y-1/2 flex items-center pl-3 text-theme-dark-gray dark:text-white"
    ></FaIcon>
    <input
      :value="modelValue"
      type="text"
      class="block w-full border-0 py-1 px-12 outline-none placeholder:text-theme-dark-gray text-theme-very-dark-blue-text dark:text-white text-sm bg-white dark:bg-theme-dark-blue"
      placeholder="Search for country..."
      @input="$emit('update:modelValue', $event.target.value)"
    />
    <FaIcon
      v-show="modelValue !== ''"
      icon="fa-solid fa-xmark"
      class="absolute right-0 top-1/2 -translate-y-1/2 flex items-center pr-3 text-theme-dark-gray dark:text-white hover:cursor-pointer"
      @click="$emit('update:modelValue', '')"
    ></FaIcon>
  </div>
</template>

<script setup>
defineProps(['modelValue'])
defineEmits(['update:modelValue'])
</script>
