<template>
  <header>
    <nav class="h-24 shadow-md bg-white dark:bg-theme-dark-blue mb-6 md:mb-24">
      <div class="container max-w-6xl- px-4 mx-auto h-full flex items-center justify-between">
        <RouterLink to="/" class="font-semibold text-xl md:text-3xl"
          >Where in the world?</RouterLink
        >
        <button class="text-sm">
          <span v-if="dark" @click="setTheme('light')"
            ><FaIcon icon="fa-solid fa-moon" class="align-middle mr-1"></FaIcon> Light Mode
          </span>
          <span v-else @click="setTheme('dark')">
            <FaIcon icon="fa-regular fa-moon" class="align-middle mr-1"></FaIcon> Dark Mode
          </span>
        </button>
      </div>
    </nav>
  </header>
  <main class="pb-32">
    <RouterView :key="$route.fullPath" />
  </main>
</template>

<script setup>
import { RouterLink, RouterView } from 'vue-router'
import { ref, onMounted } from 'vue'
const dark = ref(false)
function setTheme(theme) {
  if (theme === 'light') {
    dark.value = false
    document.documentElement.classList.remove('dark')
  } else {
    dark.value = true
    document.documentElement.classList.add('dark')
  }
  window.localStorage.setItem('theme', dark.value ? 'dark' : 'light')
}
onMounted(() => {
  if ('theme' in window.localStorage) {
    dark.value = window.localStorage.getItem('theme') === 'dark'
  } else {
    window.localStorage.setItem('theme', 'light')
  }
  setTheme(window.localStorage.getItem('theme'))
})
</script>
